
@media (max-width: 1800px) and (min-width: 601px){
h1 { color: #333333; font-family: "Segoe UI", serif; font-size: 50px; font-weight: normal; line-height: 54px; margin: 0 0 54px; text-align:center ; }
#map {
  height: 80%;
  width: 80%;
  margin: auto 2%;
  margin-left: 2%;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;

}


#floating-panel {
  position: absolute;
  top: 5px;
  left: 2%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
}

@media (max-width: 600px) {
h1 { color: #000000; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center;  }
#map {
  height: 80%;
  width: 90%;
  margin: 9% 2%;
  margin-left: 2%;
}

html,
body {
  height: 100%;
  margin: 1em;
  padding: 0;
  display: block;
  width: 100%;
}


#floating-panel {
  position: absolute;
  top: 5px;
  left: 2%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
}

